<%- include ('./partials/header.ejs') %>
<style>
    body{
        background-image: url("/assets/chatback.svg");
        background-size: cover;
    }
</style>
<div class="chatscreendiv">
    <div class="headbar">
        <% if(currUser._id==c.a1.id) { %>
            <p style="margin-bottom: 0;">
                <img class ="prof" src="<%= c.a2.pic %>">
                <span><%=c.a2.name%></span><br>
                <a style="text-decoration: none; color:white" href="/home">Go to Home</a>
            </p>
        <%}else if(currUser._id==c.a2.id){%>
            <p style="margin-bottom: 0;">
                <img class ="prof" src="<%= c.a1.pic %>">
                <span><%=c.a1.name%></span><br>
                <a style="text-decoration: none; color:white" href="/home">Go to Home</a>
            </p>
        <%}%>
    </div>
    <div id="allmsgdiv">
        <% if(c.messages.length>0){%>
            <%c.messages.forEach((el)=>{%>
                <% if(el.author.id==currUser._id){%>
                    <div class="chatbubble" style="margin-left:auto;">
                        <!-- <p class="author"><%=el.author.email%></p> -->
                        <p><%=el.content%></p>
                        <p class="timemsg"><%=el.timestmp.toLocaleString()%></p>
                    </div>
                <%}else{%>
                    <div class="chatbubble">
                        <!-- <p class="author"><%=el.author.email%></p> -->
                        <p><%=el.content%></p>
                        <p class="timemsg"><%=el.timestmp.toLocaleString()%></p>
                    </div>
                <%}%>
            <%})%>
        <%}%>
    </div>
    <div class="msgbox">
        <form onsubmit="sendMessage('<%=c._id%>','<%=currUser._id%>')">
            <input id="msgbar" type="text" name="content" placeholder="Message" required>
            <input id="send" type="submit" value="Send">
        </form>
    </div>
    
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/Scripts/script.js"></script>
<%- include ('./partials/footer.ejs') %>